.sign-form-container {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: 70px 18px;
  margin: 0;
  gap: 40px;
  align-items: center;
}

.sign-form {
  display: flex;
  width: 100%;
  max-width: 396px;
  min-height: 60vh;
  max-height: 574px;
  flex: 1 0 auto;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.sign-form__fields-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 40px;
}

.sign-form__header {
  padding: 0;
  margin: 0;
  color: black;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.sign-form__fields {
  padding: 0;
  border: none;
  margin: 0;
  min-inline-size: auto;
}

.sign-form__fields-wrapper .sign-form__fields {
  display: flex;
  flex-direction: column;
}

.sign-form__label {
  padding: 0;
  margin: 0;
}

.sign-form__field-name {
  display: block;
  padding: 0;
  margin: 0;
  color: #a0a0a0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.sign-form__field {
  width: 100%;
  padding: 5px 0 10px;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  margin: 0;
  background-color: transparent;
  color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  outline: none;
}

.sign-form__field-password {
  color: #ff4062;
}

.sign-form__field:focus {
  border-bottom: 1px solid #000;
  transition: 0.3s;
}

.sign-form__field-error {
  display: block;
  overflow: hidden;
  height: 24px;
  box-sizing: border-box;
  padding: 6px 0;
  margin: 0;
  color: #ff4062;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sign-form__field-error_for-api {
  height: auto;
  box-sizing: initial;
  padding-bottom: 20px;
  text-align: center;
}

.sign-form__button {
  width: 100%;
  padding: 15px 0;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

.sign-form__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.sign-form__button:disabled {
  background-color: #f8f8f8;
  box-shadow: 0 0 2px 0 #c2c2c2;
  color: #c2c2c2;
}

.sign-form__subbutton-text {
  padding: 16px 0;
  margin: 0;
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.sign-form__subbutton-link {
  padding: 0;
  margin: 0;
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 420px) {
  .sign-form-container {
    padding: 70px 30px;
  }

  .sign-form__header {
    text-align: center;
  }

  .sign-form {
    min-height: 82vh;
  }

  .sign-form__fields-wrapper {
    gap: 50px;
  }
  .sign-form__fields-wrapper .sign-form__fields {
    margin-top: 30px;
  }

  .sign-form__subbutton-text {
    font-size: 12px;
    line-height: 15px;
  }
}
